body {
    min-width: 372px;
    height: 100%;
}

.show-footer {
    display: block !important;
}
* {
  margin: 0;
}

.espacamento {
    margin-left: 10px;
}

.background {
    background-color: #edd4d48a;
    color: black;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.712);
    bottom: 0;
    position: relative;
}

.logo {
    width: 3%;
    height: 3%;
}

.error {
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.26);
    color: #DC3545;
}

.success {
    margin-top: 0px;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.26);
    color: #0c6301;
}

/* Estilize o cursor apenas para os checkboxes quando o mouse estiver sobre eles */
.custom-cursor-pointer:hover {
    cursor: pointer;
}

/* Estilo personalizado para rótulos (labels) de checkboxes selecionados */
.form-check-input:checked + .form-check-label {
    color: green; /* Defina a cor do texto desejada para quando o checkbox estiver selecionado */
}

/* Estilo para rótulos (labels) de checkboxes não selecionados */
.form-check-label {
    color: #000; /* Defina a cor do texto desejada para quando o checkbox não estiver selecionado */
}

p{
    background-color: rgb(88, 62, 238)"
}

